{
    // ESLint 一旦发现配置文件中有 root: true，它就会停止在父级目录中寻找
    "root": true,
    "extends": [
        "eslint:recommended",
        "windstone-vue"
    ],
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "env": {
        "node": true
    },
    "rules": {
        "no-console": "warn",
        "no-unused-vars": "warn",
        "semi": "error",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 2,
                "maxEOF": 0,
                "maxBOF": 0
            }
        ],
        "indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "single"
        ],
        "overrides": [
            {
                "files": [
                    "*.vue"
                ],
                "rules": {
                    "indent": "off" // 特殊处理，详见 https://eslint.vuejs.org/rules/script-indent.html
                }
            }
        ]
    }
}
