<div class="vue-cascade-selectbox">
    <vue-selectbox class="v-primary-selectbox"
        :options="cascadeOptions"
        :placeholder="placeholder.primaryPlaceholder"
        :value="value.primaryValue"
        :keys="{label: keys.label, value: keys.value}"
        @vue-selectbox-select="selectPrimaryType"
        ></vue-selectbox>
    <vue-selectbox class="v-secondary-selectbox" v-ref:secondary-selectbox
        :options="secondaryTypeList"
        :placeholder="placeholder.secondaryPlaceholder"
        :keys="{label: keys.label, value: keys.value}"
        @vue-selectbox-select="selectSecondaryType"
        ></vue-selectbox>
</div>